body{
  background-image: url(https://wallpapercave.com/wp/wc1702909.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

 .ultimaPontuacao {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin-left: 10px;
} 

 canvas {
  width: 100% !important;
  height: 100% !important;
} 

/* .max {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 400px;
  width: 640px;

} */

.divdirecao {
  display: flex;
  width: 500px;
  height: 180%;
  margin-top: 550px;

}

.quadrinhos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.quadrinhos div{
  display: flex;
  height: 100px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
  background-color:#EFF8FF;
}

#graficosdiv {
  display: flex;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-evenly;
}
.geral{
  border-radius: 35px;
  display: flex;
  height: 400px;
  text-align: center;
  width: 600px;
  margin-right: 30px;
  background-color:#EFF8FF;
  box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
  flex-direction: column;

}

.historico {
  border-radius: 35px;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 600px;
  margin-right: 30px;
  background-color:#EFF8FF;
  box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);

}

/* INICIO CSS RANKING */
.ranking{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  text-align: center;
  height: 400px;
  width: 600px;
  background-color:#EFF8FF;
  box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
}

.lista div {
  border: 1px solid black;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  margin-bottom: 15px;
  text-align: center;
  
}
.lista{
  margin-top: 30px;
}
/* FIM CSS RANKING */
