@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* INÍCIO CSS HEADER */

* {
    margin: 0;
    padding: 0;
}

.index {
    width: 100%;
    height: 100vh;
    background-color: #d9acc4;
}

.headerindex {
    display: flex;
    height: 100vh;
    background-image: url(https://assets.teenvogue.com/photos/66db13aec1a945dad273e02f/16:9/w_2560%2Cc_limit/HEADER_DemiLovato_Sept2024.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.imagemLogo {
    display: flex;
    width: 200px;

}

.menu {
    display: block;
    margin-bottom: auto;
    margin-top: 6px;
    margin-left: 412px;
}

nav ul {
    display: flex;
    align-items: end;
}

nav a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

nav .active a,
nav a:hover {
    background-color: #000000;
    color: #ffffff;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.descer {
    margin-left: 86px;
    margin-top: 625px;
}


.containerlogin {
    width: 990px;
    display: flex;
    justify-content: space-between;
    ;

}

/* FIM CSS HEADER */


/* INÍCIO CSS DOS BANERS */
.primeira {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.primeira img {
    width: 400px;
    border-radius: 20px;
}

.introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin-left: 240px;
}

.introducao h1 {
    color: #bc1349;
    font-size: 70px;
    font-family: "Open Sans", sans-serif;
}

.introducao p {
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
}

.segunda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f5cde3;
}

.segunda h1 {
    color: #bc1349;
    font-size: 70px;
    font-family: "Open Sans", sans-serif;
}

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
    
}

.card img {
    width: 200px;
}

.card h4 {
    font-size: 24px;
    color: #000000;
}


.terceira {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#primeira{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.terceira p {
    font-size: 40px;
}

.titulo {
    color: #bc1349;
    font-size: 50px;
    font-family: monospace;
}

#voltar {
    display: flex;
    flex-direction: column;
}

#voltar button {

    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 90px;
    margin-left: 250px;

}

input {
    margin: 13px;
    width: 200px;
    padding: 9px 15px;
    border: 2px solid #000000;
    border-radius: 30px;
    background: transparent;
    color: rgb(0, 0, 0);

}

.quarta{
    background-color: #d9acc4;
    height: 130vh;
    width: 100%;
}
.foto {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* A propriedade perspective em CSS é usada para aplicar uma perspectiva 3D a um elemento e seus filhos. Isso é útil quando você deseja criar efeitos tridimensionais em elementos 2D, como rotações e transformações que aparentam profundidade. */

.foto img {
    background-size: cover;
    width: 250px;
    height: 250px;
}

.foto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.foto__conteudo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.foto:hover .foto__conteudo {
    transform: rotateX(0deg);
    /* A função CSS rotateX() define uma transformação que gira um elemento em torno do eixo x (horizontal) sem deformá-lo. */
}

.foto__titulo {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}


.foto__descricao {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloalbum {
    margin-left: 520px;
    color: #bc1349;
    font-size: 70px;
    font-family: "Open Sans", sans-serif;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9acc4;
}

.quadros {
    display: flex;
    flex-direction: row;
}

.quadros .vermelho {
    background-color: #f43f5e;
}

.quadros .azul {
    background-color: #3b82f6;
}

.quadros .verde {
    background-color: #22c55e;
}

.quadros .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;

}

.quadros .card p.tituloquadro {
    font-size: 1em;
    /* Define o tamanho da fonte igual ao do elemento pai */
    font-weight: 700;
}

.quadros .card p.segundo-text {
    font-size: .7em;
}

.quadros .card:hover {
    transform: scale(1.1, 1.1);
    /* animação que será realizada quando o mouse (hover) estiver em cima do botão */
}


/* INÍCIO CSS FOOTER */

.footer {
    background-color: #C8C4C1;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-titul {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cd6dba;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #cd6dba;
}

.footer-section p {
    line-height: 1.6;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #cd6dba;
    padding-top: 20px;
}

.footer-bottom p {
    margin-bottom: 0;
}

/* FIM CSS FOOTER */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CSS CADASTRO*/

/* BODY */
.headercadastro {
    display: flex;
    height: 60px;
}

#Bodycadastro {
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(img/fotofundo.jpg);
}

.cadastro {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 130px;
    margin-left: 800px;

}

.containercadastro {
    width: 990px;
    display: flex;
    justify-content: space-between;
    ;

}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cadastro .card {
    justify-content: flex-end;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    margin-right: 90px;
    margin-top: 10px;
    height: 615px;
    width: 350px;
    background-color: transparent;
}

.cadastro .foto h2 {
    display: flex;
    justify-content: center;
    color: #000000;

}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    color: #000000;
}

.comparacao input {
    margin: 13px;
    width: 200px;
    padding: 9px 15px;
    border: 2px solid #000000;
    border-radius: 30px;
    background: transparent;
    color: rgb(0, 0, 0);

}

.campo input {
    margin: 13px;
    width: 200px;
    padding: 9px 15px;
    border: 2px solid #000000;
    border-radius: 30px;
    background: transparent;
    color: rgb(0, 0, 0);

}

.campo select {
    margin: 13px;
    width: 200px;
    padding: 9px 15px;
    border: 2px solid #000000;
    border-radius: 30px;
    background: transparent;
    color: rgb(0, 0, 0);
}

.formulario button {
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none;
}

.alerta_erro {
    display: flex;
    justify-content: flex-start;
}

.card_erro {
    display: none;
    background-color: transparent;
    color: black;
    width: 220px;
    justify-content: start;
    align-items: start;
    border-radius: 20px;
    border: #2e121d 3px solid;
    padding: 10px;
    margin-bottom: 400px;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

/* FIM CSS CADASTRO*/


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* INICIO CSS LOGIN*/
#Bodylogin {
    background-image: url(https://cdn.wallpapersafari.com/62/87/4zwd27.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.login {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 130px;
    margin-left: 250px;

}

.login .base {
    justify-content: flex-end;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    height: 350px;
    width: 350px;
}

.login .base h2 {
    display: flex;
    justify-content: center;
    color: #000000;

}

/* INICIO CSS QUIZ*/
#bodyQuiz {
    margin: 0;
    padding: 0;
    background-image: url(https://getwallpapers.com/wallpaper/full/b/a/1/899990-download-demi-lovato-background-2271x1277-image.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.containerquiz {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}



.quiz {
    position: absolute;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
}

.divPai {
    width: 16%;
    height: 40%;
}

.jogo {
    background-color: transparent;
    border: 1px solid black;
    margin-right: 900px;
    width: 50%;
    height: 90%;
    border-radius: 20px;
    padding: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.number {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    width: 90%;
    padding: 5px;
    font-weight: 500;
}

.containerperguntas {
    display: flex;
    width: 90%;
    height: 20%;
    font-size: 22px;
    text-align: center;
}

.alternatives {
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.botao {

    display: flex;
    background-color: transparent;
    width: 40%;
    height: 40%;
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.botao:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.iniciar {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.jogo .titulo {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.jogo button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.jogo button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.errado {
    background-color: rgb(189, 34, 34);
    transition: background-color 300ms linear
}

.correto {
    background-color: rgb(32, 209, 41);
    transition: background-color 300ms linear;
}

.errado:hover {
    background-color: rgb(189, 34, 34);
}

.correto:hover {
    background-color: rgb(32, 209, 41);
}


.pontuacao {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}